body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}
#animation1{
    width: 100px;
    height: 100px;
    background-color: rgb(2, 2, 2);
    animation-name: animacio1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: width 2s, height 2s;

}
@keyframes animacio1 {
        0%   {background-color: red;}
        10%  {background-color: yellow;}
        20%  {background-color: blue;}
        30% {background-color: green;}
        40% {background-color: purple;}
        50% {background-color: gray;}
        60% {background-color: black;}
        70% {background-color: white;}
        80% {background-color: violet;}
        90% {background-color: turquoise;}
        100% {background-color: blueviolet;}
      
  }
#animation1:hover{
    width: 300px;
    height: 300px;
}

#animation2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: animacio2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes animacio2 {
0%   {background-color:gray; left: 0px;}
25%  {background-color:yellow; left: 94%;}
50%  {background-color:blue; left:0px;}
75%  {background-color:green; left:94%;}
100% {background-color:gray; left:0px;}
}
#animation3{
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    position: relative;
    animation-name: animacio3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes animacio3{
    0%   {background-color:purple; left:0px; top:0px;}
    25%  {background-color:darkcyan; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:gray; left:0px; top:200px;}
    100% {background-color:purple; left:0px; top:0px;}
  
}